body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}

header {
    background-color: #3d3a3a;
    color: white;
    padding: 10px 20px; /* Adjust padding for spacing */
    display: flex;
    align-items: center;
    justify-content: space-between; /* Space out logo and navigation */
}

.header-logo {
    display: flex;
    align-items: center;
    margin-right: 20px; /* Space between logo and navigation */
}

.header-logo h3 {
    margin: 0;
    font-size: 24px;
    color: #e0ac1c;
    font: normal 36px 'Cookie', cursive;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* Align navigation items in a row */
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover{
    color: #e0ac1c;
}


main {
    padding: 20px;
}
#home {
    background: url('images/bg-image.jpg') no-repeat center center;
    background-size: cover;
    height: 350px;
    color: white;
    padding: 20px 20px;
    text-align: justify;
}

#home h2 {
    color: #000000;
    font-size: 50px;
    margin-left: 500px;
    margin-top: 0px; 
}

#home p {
    margin-left: 700px; 
    margin-top: -50px; 
    color: #000000;
}

#home span {
    color: #e0ac1c;
}

h2 {
    text-align: center; /* Center all h2 elements */
    padding: 20px 0; /* Add some vertical padding */
    font-size: 40px;
    
}

ul {
    list-style-type: disc;
}

table {
    width: 50%;
    border-collapse: collapse;
    margin: auto; /* Center the table */
    border-radius: 40px 0px 40px 0px;
    overflow: hidden; /* Ensure rounded corners are visible */
    border: #2e2a2a;
    text-align: center;
    border: 1px solid #ddd;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table, th, td {
    border: 1px solid #ddd;

    
}

th {
    background-color: #2e2a2a;
    color: #fff;
    padding: 10px;
}



th, td {
    padding: 10px;
    justify-content: center; /* Center text horizontally */
    align-items: center; /* Center text vertically */
    height: 50px; /* Set a fixed height for better vertical alignment */
}

.menu-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    width: 200px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu-item img {
    width: 150px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.menu-item .description {
    max-width: 200px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 50px;
}

.gallery img {
    width: 200px;
    margin: 10px;
    transition: transform 0.2s;
    border-radius: 8px;
}

.gallery img:hover {
    transform: scale(1.1);
}





.contact-box{
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
    margin: auto;
    border-radius: 10px;
}

.left{
	background: url("images/contact-image.jpg") no-repeat center;
	background-size: cover;
	height: 100%;
}

.right{
	padding: 25px 40px;
}



.contact-box h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    
}

.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #e0ac1c;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.btn:hover{
    background-color: #e0ac1c;
}

.field:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}

@media screen and (max-width: 880px){
	.contact-box{
		grid-template-columns: 1fr;
	}
	.left{
		height: 200px;
	}
}



/* Background images for sections */


/* The footer is fixed to the bottom of the page */

footer {
    position: fixed;
    bottom: 0;
}

@media (max-height:800px) {
    footer {
        position: static;
    }
    header {
        padding-top: 40px;
    }
}

.footer-distributed {
    background-color: #2d2a30;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}


.footer-distributed h3 span {
    color: #e0ac1c;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #e0ac1c;
    text-decoration: none;
    ;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
    background-color: #e0ac1c;
}

.footer-links a:hover {
    color: #e0ac1c;
}

@media (max-width: 880px) {
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}       
        

        
@media (max-width: 600px) {
    nav ul li {
        display: block;
        margin: 5px 0;
    }

    .gallery img {
        width: 100%;
        margin: 5px 0;
    }

    .menu-row {
        flex-direction: column;
        align-items: center;
    }

    .menu-item {
        width: 100%;
    }

    .menu-item img {
        width: 100%;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 880px){
	.contact-box{
		grid-template-columns: 1fr;
	}
	.left{
		height: 200px;
	}
}


@media (max-height:800px) {
    footer {
        position: static;
    }
    header {
        padding-top: 40px;
    }
}